@font-face {
  font-family: Vazir;
  src: url('../fonts/eot/Vazir.eot');
  src: url('../fonts/eot/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Vazir.woff2') format('woff2'),
    url('../fonts/woff/Vazir.woff') format('woff'),
    url('../fonts/ttf/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/eot/Vazir-Bold.eot');
  src: url('../fonts/eot/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/woff/Vazir-Bold.woff') format('woff'),
    url('../fonts/ttf/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/eot/Vazir-Light.eot');
  src: url('../fonts/eot/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Vazir-Light.woff2') format('woff2'),
    url('../fonts/woff/Vazir-Light.woff') format('woff'),
    url('../fonts/ttf/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/eot/Vazir-Medium.eot');
  src: url('../fonts/eot/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/woff/Vazir-Medium.woff') format('woff'),
    url('../fonts/ttf/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/eot/Vazir-Thin.eot');
  src: url('../fonts/eot/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/woff/Vazir-Thin.woff') format('woff'),
    url('../fonts/ttf/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Vazir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, "Noto Sans", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Hiragino Kaku Gothic Pro", Meiryo;
  direction: rtl;
  text-align: right;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  max-height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2e2e;
  text-align: left;
  background-color: #fff;
}

.header-top-page {
  background-color: #292961;
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;

  flex-flow: row nowrap;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;

  color: white;
}

#header-page-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  align-content: center;
}

#header-page-main>div {
  margin: 10px;
  cursor: pointer;
}

#page-main-contant {
  padding-right: 220px;
  transition: padding-right 0.3s;
}

.nav-sidebar {
  transition: width 0.3s, right 0.3s;
  position: fixed;
  z-index: 600;
  width: 220px;
  top: 3.3em;
  bottom: 0;
  right: 0;
  /* background-color: #fafafa; */
  background-color: #db1818;
  box-shadow: inset 1px 0 0 #dfdfdf;
  transform: translate3d(0, 0, 0);
}
.pnl-show-contant {
  position: fixed;
  z-index: 599;
  top: 3.3em;
  bottom: 0;
  width: calc(100% - 220px);
  right: 220px;
  height: calc(100% - 3.3em);
  background-color: #1c19cc;
  /* background-color: #fafafa; */
  box-shadow: inset 1px 0 0 #dfdfdf;
  transition: width 0.3s, right 0.3s;
  transform: translate3d(0, 0, 0);
}

.nav-sidebar-inner-scroll {
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-y: auto;
}

.nav-sidebar ul {
  padding-right: 0;
  list-style: none;
}

.sidebar-top-level-items {
  /* margin-bottom: 60px; */
  margin-bottom: auto;
}

ul{
  margin-top: 0;
  margin-bottom: 1rem;
}

.nav-sidebar a {
  cursor: pointer;
  text-decoration: none;
}

.toggle-sidebar-button {
  width: 219px;
  transition: width 0.3s;
  position: fixed;
  height: 48px;
  bottom: 0;
  padding: 0 16px;
  background-color: #fafafa;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #dfdfdf;
  color: #707070;
  display: flex;
  align-items: center;
}

.collapse-text {
  white-space: nowrap;
  overflow: hidden;
}

.nav-icon-container {
  display: flex;
  margin-left: 8px;
}

.sidebar-top-level-items>li>a {
  margin-left: 1px;
}

.nav-sidebar li a {
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #707070;
}

.nav-sidebar li .nav-item-name {
  flex: 1;
}

.nav-sidebar li {
  white-space: nowrap;
}

.toggle-sidebar-button:hover,
.close-nav-button:hover {
  background-color: #dfdfdf;
  color: #2e2e2e;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}
.shape{
  text-align: right;
position: relative;
    vertical-align: top;
    display: inline-block;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-transition: left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out,-webkit-transform .6s ease-in-out;
    transition: left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out,-webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
    transition: transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.card{
  max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}
/* .sides{
  webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
} */
.side{
  display: block;
  opacity: 1;
    width: 100%;
    margin: 0!important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ui.card>.content, .ui.cards>.card>.content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 0.5em;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    display: block;
    margin: '';
    color: rgba(0,0,0,.85);
}
.ui.card .meta, .ui.cards>.card .meta {
      margin-top: 0.5em;
    font-size: 1em;
    color: rgba(0,0,0,.4);
}
.ui.card>.content>.header+.description, .ui.card>.content>.meta+.description, .ui.cards>.card>.content>.header+.description, .ui.cards>.card>.content>.meta+.description {
    margin-top: .5em;
    text-align: justify;
}
.ui.card>.content>.description, .ui.cards>.card>.content>.description {
    clear: both;
    color: rgba(0,0,0,.68);
}
.ui.card>.extra, .ui.cards>.card>.extra {
    max-width: 100%;
    min-height: 0!important;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-top: 1px solid rgba(0,0,0,.05)!important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0 0;
    padding: .75em 1em;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}
.ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"] {
    float: right;
}
.ui.card [class*="left floated"], .ui.cards>.card [class*="left floated"] {
    float: left;
}
.ui.card .avatar img, .ui.card img.avatar, .ui.cards>.card .avatar img, .ui.cards>.card img.avatar {
    width: 2em;
    height: 2em;
    border-radius: 500rem;
}
.ui.card .content img, .ui.cards>.card .content img {
    display: inline-block;
    vertical-align: middle;
    width: '';
}
.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    margin-right: .25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 500rem;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
/* 
.column img {
  margin-top: 8px;
  vertical-align: middle;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}